<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('head') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('head') }}
        {% endblock %}
    </head>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="{{ asset('build/images/logo.png') }}" width="64" height="64" alt="Expat Logo" />
                <span class="fs-1 fw-bold">Ex<span class="text-primary">pat</span></span>
            </a>
        </header>
    </div>
        {% block content %}
        {% endblock %}
</html>