{% extends 'layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transactions') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transactions') }}
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container top mb-2">
    <h4 class="card-title mt-3 text-center">Create Transaction</h4>
</div>
 
<form action="/login" method="post" class="form-signin">
    <div class="row">
        <div class="col">
            <div class="form-group input-group mt-2">
                <input name="name" class="form-control" placeholder="name" type="text">
            </div>
        </div>

        <div class="col justify-content-end">
            <div class="form-group mt-2">
                <button name="submit" type="submit" class="btn btn-primary btn-block "> Submit </button>
            </div>
        </div>    
    </div>
</form>
      
{% endblock %}