@import "~bootstrap/scss/bootstrap";

body {
  display: block;
  align-items: center;
  justify-content:center;
} 

.top{
  margin-top: 200px;
}

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #e7ebee;
}